<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	
	<localRepository>d:/svr/maven352/repositorio</localRepository>

	<pluginGroups>
	</pluginGroups>

	<proxies>
		<proxy>
			<id>proxyOsce</id>
			<active>true</active>
			<protocol>http</protocol>
			<host>172.16.2.3</host>
			<port>3128</port>
			<nonProxyHosts>localhost|172.*|192.*|&lt;local&gt;|localhost.localdomain|127.0.0.1|::1|172.16.51.26|[::1]</nonProxyHosts>
		</proxy>
	</proxies>

	<servers>
		<server>
			<id>osce-releases</id>
			<username>usuario</username>
			<password>123456</password>
		</server>
		<server>
			<id>osce-snapshots</id>
			<username>usuario</username>
			<password>123456</password>
		</server>
		<server>
			<id>libs3-repository</id>
			<username>usuario</username>
			<password>123456</password>
		</server>
	</servers>

	<mirrors>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>http://192.168.32.40/nexus3/repository/public</url>
		</mirror>
	</mirrors>

	<profiles>
		<profile>
			<id>osce</id>
			<repositories>
				<repository>
					<id>osce-releases</id>
					<url>http://192.168.32.40/nexus3/repository/osce-releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>osce-snapshots</id>
					<url>http://192.168.32.40/nexus3/repository/osce-snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>osce-releases</id>
					<url>http://192.168.32.40/nexus3/repository/osce-releases</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>osce-snapshots</id>
					<url>http://192.168.32.40/nexus3/repository/osce-snapshots</url>
					<releases>
						<enabled>false</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>libs3</id>
			<repositories>
				<repository>
					<id>libs3-repository</id>
					<url>>http://192.168.32.40/nexus3/repository/libs3-repository</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>libs3-repository</id>
					<url>http://192.168.32.40/nexus3/repository/libs3-repository</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<activation>
				<activeByDefault>true</activeByDefault>
			</activation>
			<repositories/>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>osce</activeProfile>
		<activeProfile>libs3</activeProfile>
	</activeProfiles>
	
</settings>
